{% extends 'base.html'%} {% block title %}Dashboard{% endblock %} {% block content %}
<h1>Add a new vocab</h1>

<form action="{{ url_for('add_vocab') }}" method="POST">

    <div class="input-field">
        <i class="material-icons prefix">add_box</i>
        <input id="vocab" name="vocab" type="text" minlength="2" class="validate" required>
        <label for="vocab">New Vocab</label>
    </div>
    <div class="row center-align">
        <button class="btn waves-effect waves-light right-align" type="submit">Check definition
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>



{% endblock %}
