{% extends 'base.html'%} {% block title %}Dashboard{% endblock %} {% block content %}
<div class="container_minimal">
    <div class="card login_register_check_vocab">
        <div class="card-content">
            <span class="card-title center-align"><strong>ADD VOCAB</strong></span>
            <form action="{{ url_for('add_vocab') }}" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">add_box</i>
                        <input id="vocab" name="vocab" type="text" minlength="2" class="validate" required>
                        <label for="vocab">Add a new Vocab</label>
                    </div>
                    <div class="center-align col s12">
                        <button class="btn waves-effect waves-light right-align btn_large deep-orange" type="submit">Add vocab
                        <i class="material-icons right">add_box</i>
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
