{% extends 'base.html'%} {% block title %}Dashboard{% endblock %} {% block content %}

<h3>vocabs</h3>

<form action="{{ url_for('get_filtered', user_id=current_user._id) }}">
    <div class="switch">
        <label>
          Show all vocabs
          {% if filter_options.user_vocabs_only %}
              <input type="checkbox" name="vocab_only" checked>
          {% else %}
              <input type="checkbox" name="vocab_only" >
          {% endif %}
          <span class="lever"></span>
          Only show your own vocabs
        </label>
    </div>

    <div class="input-field">
        <i class="material-icons prefix">bookmark</i>
        <select id="source" name="source">
            <option value="" selected disabled>pick a source</option>
            {% for source in sources %}
                {% if filter_options.source == source.name %}
                    <option value="{{ source.name }}" selected>{{ source.name.title() }}</option>
                {% else %}
                    <option value="{{ source.name }}">{{ source.name.title() }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">bookmark</i>
            <select id="order_by" name="order_by">
            {% for key, value in  filter_options.order_by.items() %}
                {% if value %}
                    <option value="{{ key }}" selected>{{ key.title() }}</option>
                {% else %}
                    <option value="{{ key }}">{{ key.title() }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">bookmark</i>
            <select id="order" name="order">
            {% for key, value in  filter_options.order.items() %}
                {% if value %}
                    <option value="{{ key }}" selected>{{ key.title() }}</option>
                {% else %}
                    <option value="{{ key }}">{{ key.title() }}</option>
                {% endif %}
            {% endfor %}
        </select>
        </div>
    </div>

    <div class="row right-align">
        <a href="{{  url_for('dash')   }}" id="clear_filter" class="btn waves-effect waves-light right-align">clear
            <i class="material-icons right">clear</i>
        </a>
        <button class="btn waves-effect waves-light right-align" type="submit">Apply filter
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>


<div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="center-align">
        {% for message in messages %}
        <p class="red-text text-darken-2">{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</div>
<div class="row">
    <ul class="collapsible" data-collapsible="Expandable">
        {% for vocab in vocabs %}
        <li>
            <div class="collapsible-header">
                <div class="vocab">"{{ vocab.vocab }}"</div>
                <div class="user_id">by <a href="{{ url_for('view_user', username=vocab.user) }}">{{ vocab.user }}  </a></div>
                {% if vocab.vocab in current_user.likes %}
                    <div><i class="tiny material-icons">favorite</i>{{ vocab.likes }}</div>
                {% else %}
                    <div><i class="tiny material-icons">favorite_border</i>{{ vocab.likes }}</div>
                {% endif %}
                <div><i class="tiny material-icons">youtube_searched_for</i>{{ vocab.lookup_count }}</div>
            </div>
            <div class="collapsible-body">
                <span>definition: {{ vocab.user_definition }}</span>
                <p>views: {{ vocab.views }}<br> likes: {{ vocab.likes }}<br> lookup count: {{ vocab.lookup_count }}<br> published date: {{ vocab.pub_date }}</p>
                <div class="right-align">
                    {% if current_user.username == vocab.user or current_user.admin %}
                    <a href="{{ url_for('edit_vocab', vocab_id=vocab._id) }}" class="waves-effect waves-light btn btn_small deep-orange">Edit</a>
                    <a href="{{ url_for('delete_vocab', vocab_id=vocab._id) }}" class="waves-effect waves-light btn btn_small deep-orange">delete</a> {% endif %}
                    <a href="{{ url_for('view_vocab', vocab_id=vocab._id) }}" class="waves-effect waves-light btn btn_small deep-orange">view</a>
                    <!--<a href="{{ url_for('view_user', username=vocab.user) }}" class="waves-effect waves-light btn btn_small deep-orange">user</a>-->
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
