{% extends 'base.html'%} {% block title %}Add setup{% endblock %} {% block content %}

<h2>{{ vocab.vocab.title() }}</h2>

<!--FLASH SECTION-->
<div class="row">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="center-align">
        {% for message in messages %}
        <p>{{ message }}.</p>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</div>

<!--API SECITON-->
<div class="center-align check_dictionary" >
    <a class='dropdown-button btn btn_large waves-effect waves-red deep-orange darken-3 check_dictionary_btn' href='#' data-activates='dropdown1'>check dictionary<i class="material-icons right">search</i></a>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#" id="get_defs" class="waves-effect waves-red center-align">Get Definitions</a></li>
        <li class="divider"></li>
        <li><a href="#" id="get_syns" class="waves-effect waves-red center-align">Get Synonyms</a></li>
        <li class="divider"></li>
        <li><a href="#" id="get_exams" class="waves-effect waves-red center-align">Get Examples</a></li>
    </ul>
</div>
<div class="card" id="api_container_defs">
    <div class="card-content" id="api_container_defs_content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<div class="card" id="api_container_syns">
    <div class="card-content" id="api_container_syns_content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<div class="card" id="api_container_exams">
    <div class="card-content" id="api_container_exams_content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<!--FORM SECTION-->
<form action="{{ url_for('update_vocab', vocab_id=vocab._id) }}" method="POST" class="col s10 offset-s1 m8 offset-m2">
    <div class="row">

        <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea id="user_definition" name="user_definition" class="materialize-textarea" data-length="500">{{ vocab.user_definition }}</textarea>
            <label for="user_definition">User definition</label>
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">label</i>
            <input id="difficulty" name="difficulty" type="number" min="1" max="100" value="{{ vocab.difficulty }}">
            <label for="difficulty">Difficulty level</label>
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">bookmark</i>
            <select id="source" name="source">
                    {% for source in sources %}
                        {% if vocab.source == source.name %}
                        <option value="{{ source.name }}" selected>{{ source.name.title() }}</option>
                        {% else %}
                        <option value="{{ source.name }}">{{ source.name.title() }}</option>
                        {% endif %}
                    {% endfor %}
            </select>
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="context" name="context" class="materialize-textarea" data-length="500">{{ vocab.context }}</textarea>
            <label for="context">Context</label>
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix">event_note</i>
            <textarea id="misc" name="misc" class="materialize-textarea" data-length="500">{{ vocab.misc }}</textarea>
            <label for="misc">Miscellaneous</label>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">label</i>
            <input id="ref" name="ref" type="text" value="{{ vocab.ref }}">
            <label for="ref">Reference</label>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">local_offer</i>
            <input id="tag" type="text" minlength="2">
            <div class="right-align">
                <a id="removeTags" class="waves-effect waves-light btn red"><i class="material-icons right">delete_forever</i>Clear all</a>
                <a id="addTag" class="waves-effect waves-light btn"><i class="material-icons right">add_circle</i>Add</a>
            </div>
            <label for="first_name">Tags</label>
            <input id="tag-pool" name="tags" type="text" value="{{ vocab.tags }}" readonly>
        </div>

    </div>

    <div class="input-field center-align">
        <button class="btn waves-effect waves-light deep-orange" type="submit">Update
                <i class="material-icons right">send</i>
            </button>
    </div>

</form>


{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/add_vocab.js') }}"></script>
<script src="{{ url_for('static', filename='js/view_vocab.js') }}"></script>
<script>
    /* global $ */
    $(document).ready(function() {

        var vocab = {{vocab["vocab"]|tojson}};
        $("#get_defs").unbind('click').click(function() {
            $('#api_container_defs_content').load(`/access_api/defs/${vocab}`);
            $("#api_container_defs").slideToggle()
        });
        $("#get_syns").unbind('click').click(function() {
            $('#api_container_syns_content').load(`/access_api/syns/${vocab}`);
            $("#api_container_syns").slideToggle()
        });
        $("#get_exams").unbind('click').click(function() {
            $('#api_container_exams_content').load(`/access_api/exams/${vocab}`);
            $("#api_container_exams").slideToggle()
        });

    });
</script>
{% endblock %} {% endblock %}
