{% extends 'base.html'%} {% block title %}Welcome{% endblock %} {% block content %}
<div class="container_minimal">

    <div class="card login_register_check_vocab">
        <div class="card-content">
            <span class="card-title center-align"><strong>LOG IN</strong></span>
            <form action="{{ url_for('login') }}" method="POST">
                <div class="row">
                     <div class="input-field col s12 m10 offset-m1">
                        <input id="username" name="username" type="text" class="validate" minlength="2" required>
                        <label for="username">Username</label>
                    </div>
                    
                    <div class="center-align col s12">
                        <button id="index_submit" class="btn waves-effect waves-light btn_large deep-orange" type="submit">Log in
                                        <i class="material-icons right">send</i>
                        </button>
                    </div>

                    
                                        
                    <div>
                        {% with messages = get_flashed_messages() %} {% if messages %} 
                        <ul class="center-align  red-text text-darken-2">
                            {% for message in messages %}
                            <li><strong>{{ message }}</strong></li>
                            {% endfor %}
                        </ul>
                        {% endif %} {% endwith %}
                    </div>
                    
                    
            
                
                    <div class="right-align col s12">
                        Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
