{% extends 'base.html'%} {% block title %} {{ user.username }} {% endblock %} {% block content %}

<h3>{{ user.username }}</h3>

<span><strong>Name:</strong> &nbsp;{{ user.name.title() }}</span><br>
<span><strong>Date of Birth:</strong> &nbsp;{{ user.dob }}</span><br>
{% if user.admin %}
<span><strong>Admin:</strong> &nbsp;Yes</span><br>
    {% else %}
<span><strong>Admin:</strong> &nbsp;No</span><br>
    {% endif %}
<span><strong>Vocab count:</strong> &nbsp;{{ user.vocab_count }}</span><br><br>



<ul class="collapsible" data-collapsible="Expandable">
        <li>
            <div class="collapsible-header active"><strong>Vocabs liked by '{{ user.username }}'</strong>&nbsp;<i class="large material-icons red-text text-darken-4 collapsible-header-icons">favorite</i></div>
            <div class="collapsible-body">
                {% if user.likes|length > 0 %}
                <span>
                        {% for fav in user.likes %}
                            {{ loop.index }}) <a href="{{ url_for('user_likes', vocab=fav ) }}" class="">{{ fav.title() }}</a><br>
                        {% endfor %}
                    </span>
                {% else %}
                    <p>'{{ user.username }}' hasn't favourited any vocabs yet.</p>
                {% endif %}
            </div>
        </li>
        <li>
            <div class="collapsible-header active"><strong>Vocabs added by '{{ user.username }}'</strong>&nbsp;<i class="large material-icons collapsible-header-icons">add</i></div>
            <div class="collapsible-body">
                {% if vocabs|length == 0 %}
                    <p>'{{ user.username }}' hasn't added any vocabs yet.</p>
                {% else %}
                    {% for vocab in vocabs %} 
                        {{ loop.index }}) <a href="{{ url_for('view_vocab', vocab_id=vocab._id ) }}" class="">{{vocab.vocab.title()}}</a><br>
                    {% endfor %}
                {% endif %}
            </div>
        </li>
</ul>
<br>

<div class="right-align">
    <a href="{{ url_for('dash') }}" class="waves-effect waves-light btn btn_small deep-orange">Back to dash</a>
</div>
{% endblock %}
