{% extends 'base.html'%} {% block title %} {{ user.username }} {% endblock %} {% block content %}

<h3>{{ user.username }}</h3>

<p>Name: {{ user.name.title() }}</p>
<p>Date of Birth: {{ user.dob }}</p>
{% if user.admin %}
<p>Admin: Yes</p>
{% else %}
<p>Admin: No</p>
{% endif %}
<p>Vocab count: {{ user.vocab_count }}</p>
<div class="row">
    <ul class="collapsible" data-collapsible="Expandable">
        <li>
            <div class="collapsible-header active">Favourited vocabs&nbsp;<i class="material-icons">favorite</i></div>
            <div class="collapsible-body">
                {% if user.likes|length > 0 %}
                <span>
                        {% for fav in user.likes %}
                            {{ loop.index }}) <a href="{{ url_for('user_likes', vocab=fav ) }}" class="">{{ fav.title() }}</a><br>
                        {% endfor %}
                    </span>
                {% else %}
                    <p>'{{ user.username }}' hasn't favourited any vocabs yet.</p>
                {% endif %}
            </div>
        </li>
    </ul>

</div>

<div class="row">
    <ul class="collapsible" data-collapsible="Expandable">
        <li>
            <div class="collapsible-header active">Vocabs added by {{ user.username }}&nbsp;<i class="material-icons">favorite</i></div>
            <div class="collapsible-body">
                {% if vocabs|length == 0 %}
                    <p>'{{ user.username }}' hasn't added any vocabs yet.</p>
                {% else %}
                    {% for vocab in vocabs %} 
                        {{ loop.index }}) <a href="{{ url_for('view_vocab', vocab_id=vocab._id ) }}" class="">{{vocab.vocab.title()}}</a><br>
                    {% endfor %}
                {% endif %}
            </div>
        </li>
    </ul>
</div>

<div class="right-align">
    <a href="{{ url_for('dash') }}" class="waves-effect waves-light btn btn_small deep-orange">Back to list</a>
</div>
{% endblock %}
