{% extends 'base.html'%} {% block title %}{{ vocab.vocab }}{% endblock %} {% block content %}
<h1>{{ vocab.vocab.title() }}</h1>
<div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p class="red-text text-darken-2">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}
</div>

<!--VOCAB BRIEF-->
<div class="right-align">Published on <strong>{{ vocab.pub_date }}</strong><br></div>
{% if current_user.username == vocab.user %}
<div class="right-align">Added by<a href="{{ url_for('view_user', username=vocab.user) }}"> <strong> you </strong> </a><br></div>
{% else %}
<div class="right-align">Added by<a href="{{ url_for('view_user', username=vocab.user) }}"> <strong> {{ vocab.user }} </strong> </a><br></div>
{% endif %} {% if vocab.vocab in current_user.likes %}
<div class="right-align"><a href="{{ url_for('toggle_like', vocab=vocab.vocab) }}" class="black-text" onclick="Materialize.toast('You have unliked {{ vocab.vocab }}', 10000, 'rounded')"><i class="large material-icons">favorite</i></a></div>
{% else %}
<div class="right-align"><a href="{{ url_for('toggle_like', vocab=vocab.vocab) }}" class="black-text" onclick="Materialize.toast('You have liked {{ vocab.vocab }}', 10000, 'rounded')"><i class="large material-icons">favorite_border</i></a></div>
{% endif %}


<!--API SECITON-->
<div class="center-align">
    <a class='dropdown-button btn btn_large waves-effect waves-red green darken-3' href='#' data-activates='dropdown1'>check dictionary<i class="material-icons right">add</i></a>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#" id="get_defs" class="waves-effect waves-red center-align">Get Definitions</a></li>
        <li class="divider"></li>
        <li><a href="#" id="get_syns" class="waves-effect waves-red center-align">Get Synonyms</a></li>
        <li class="divider"></li>
        <li><a href="#" id="get_exams" class="waves-effect waves-red center-align">Get Examples</a></li>
    </ul>
</div>
<div class="card" id="api_container_defs">
    <div class="card-content" id="api_container_defs_content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<div class="card" id="api_container_syns">
    <div class="card-content" id="api_container_syns_content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<div class="card" id="api_container_exams">
    <div class="card-content" id="api_container_exams_content">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>


<!--MAIN STATS AND USER INPUT-->
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">User Definition</span>
                <p>{{ vocab.user_definition }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Source</span>
                <p>{{ vocab.source.title() }}</p>

            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Stats</span>
                <p>Likes: {{ vocab.likes }}</p>
                <p>Lookup count: {{ vocab.lookup_count }}</p>
                <p>Difficulty: {{ vocab.difficulty }} / 100</p>
                <p>Published on: {{ vocab.pub_date }}</p>
                <p>Added by: {{ vocab.user }}</p>
                <p>Views: {{ vocab.views }}</p>
                <p>Last modified on: {{ vocab.mod_date }}</p>
                <p>Last lookup date: {{ vocab.last_lookup_date }}</p>
            </div>
        </div>
        {% if vocab.misc != "" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Miscellaneous</span>
                <p>{{ vocab.misc }}</p>
            </div>
        </div>
        {% endif %} {% if vocab.context != "" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Context</span>
                <p>{{ vocab.context }}</p>
            </div>
        </div>
        {% endif %} {% if vocab.ref != "" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Reference</span>
                <p>{{ vocab.ref }}</p>
            </div>
        </div>
        {% endif %} {% if vocab.tags != "" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Tags</span>
                <p>{{ vocab.tags }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="right-align">
    {% if current_user.username == vocab.user or current_user.admin %}
    <a href="{{ url_for('edit_vocab', vocab_id=vocab._id) }}" class="waves-effect waves-light btn btn_small deep-orange">Edit</a>
    <a href="{{ url_for('delete_vocab', vocab_id=vocab._id) }}" class="waves-effect waves-light btn btn_small deep-orange">delete</a> {% endif %}
    <a href="{{ url_for('dash') }}" class="waves-effect waves-light btn btn_small deep-orange">Back to dash</a>
</div>

{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/view_vocab.js') }}"></script>
<script>
    /* global $ */
    $(document).ready(function() {

        var vocab = {{vocab["vocab"]|tojson}};
        $("#get_defs").unbind('click').click(function() {
            $('#api_container_defs_content').load(`/access_api/defs/${vocab}`);
            $("#api_container_defs").slideToggle()
        });
        $("#get_syns").unbind('click').click(function() {
            $('#api_container_syns_content').load(`/access_api/syns/${vocab}`);
            $("#api_container_syns").slideToggle()
        });
        $("#get_exams").unbind('click').click(function() {
            $('#api_container_exams_content').load(`/access_api/exams/${vocab}`);
            $("#api_container_exams").slideToggle()
        });

    });
</script>
{% endblock %} {% endblock %}
