{% extends 'base.html'%} {% block title %}{{ vocab.vocab }}{% endblock %} {% block content %}
<h1>{{ vocab.vocab.title() }}</h1>
<div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <p class="red-text text-darken-2">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %}
</div>
<p class="right-align">Published on <strong>{{ vocab.pub_date }}</strong> </p>
{% if current_user.username == vocab.user %}
<p class="right-align">Added by <strong>you</strong> </p>
{% else %}
<p class="right-align">Added by <strong>{{ vocab.user  }}</strong> </p>
{% endif %}
<div class="right-align"><i class="tiny material-icons">favorite</i>Likes: {{ vocab.likes }} </div>
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">User Definition</span>
                <p>{{ vocab.user_definition }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Source</span>
                <p>{{ vocab.source.title() }}</p>

            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Stats</span>
                <p>Likes: {{ vocab.likes }}</p>
                <p>Lookup count: {{ vocab.lookup_count }}</p>
                <p>Difficulty: {{ vocab.difficulty }} / 100</p>
                <p>Published on: {{ vocab.pub_date }}</p>
                <p>Added by: {{ vocab.user }}</p>
                <p>Views: {{ vocab.views }}</p>
                <p>Last modified on: {{ vocab.mod_date }}</p>
                <p>Last lookup date: {{ vocab.last_lookup_date }}</p>
            </div>
        </div>
        {% if vocab.misc != "" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Miscellaneous</span>
                <p>{{ vocab.misc }}</p>
            </div>
        </div>
        {% endif %} {% if vocab.context != "" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Context</span>
                <p>{{ vocab.context }}</p>
            </div>
        </div>
        {% endif %} {% if vocab.ref != "" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Reference</span>
                <p>{{ vocab.ref }}</p>
            </div>
        </div>
        {% endif %} {% if vocab.tags != "" %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">Tags</span>
                <p>{{ vocab.tags }}</p>
            </div>
        </div>
        {% endif %} 
    </div>
</div>

<div class="right-align">
    {% if current_user.username == vocab.user or current_user.admin %}
    <a href="{{ url_for('edit_vocab', vocab_id=vocab._id) }}" class="waves-effect waves-light btn btn_small deep-orange">Edit</a>
    <a href="{{ url_for('delete_vocab', vocab_id=vocab._id) }}" class="waves-effect waves-light btn btn_small deep-orange">delete</a> {% endif %}
    <a href="{{ url_for('dash') }}" class="waves-effect waves-light btn btn_small deep-orange">Back to list</a> 
</div>


{% endblock %}
