html, body {
    height: 100%;
    width: 100%;
    // background-color: map-get($color, mustard);
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto Mono', monospace;
}

.container_minimal {
    min-height: calc(100% - 350.297px);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.container {
    min-height: calc(100% - 350.297px);
    padding-bottom: 2rem;
}