@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "globals";
@import "colors";
@import "mixins";
@import "base";
@import "mediaQ";


// dash styling
.user_id {
    margin-left: auto;
}

.collapsible-header i {
    width: 2rem;
    font-size: 1rem;
    display: inline-block;
    text-align: right;
    margin-right: 0;
}

// ~~~~ DASH ~~~~~~~~~~~~~~~~~~
#new-vocab-count {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
    p {
        margin: 0px;
    }
}

.btn_small {
    padding-left: 15px; 
    padding-right: 15px; 
    font-size: smaller;
    border-radius: 7px;
    // media query for large screens
    @include mQ("minW", 701px) {
        font-size: unset;
        padding-left: 25px; 
        padding-right: 25px; 
    }
}

.btn_large {
    border-radius: 7px;
}


// vocab template
#api_container_defs, #api_container_syns, #api_container_exams {
    display: none;
}

.vocab-stats {
    display: flex;
    justify-content: space-between;
    .vocab-stats-user {
        font-size: 1.2rem;
    } 
}

.vocab-like {
        i {
        font-size: 13rem;
    }
}

.check_dictionary {
    margin: 1rem 0px;
    .check_dictionary_btn {
        border-radius: 5px;
    }
}

.vocab_buttons {
    display: flex;
    justify-content: space-between;
}

.card {
    border-radius: 20px;
}


// DASH
.collapsible {
    border-radius: 30px;
    .collapsible-header {
        border-radius: 30px;
    }
    
    .collapsible-body {
        border-radius: 30px;
    }

}

.filter_buttons {
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 10px;
    }
    // media query for small narrow screens eg iphonex,xs
    @include mQ("maxW", 400px) {
            flex-direction: column;
            #apply_filter, #clear_filter {
                margin: 5px 0px;
                font-size: larger;
            }
    }
    // media query for small screens
    @include mQ("w",401px, 701px) {
        justify-content: space-evenly;
        button {
            margin-left: 0px;
        }
    }
    
    
    
    
}



// set icons on collapsible-headers to stick to the right
.collapsible-header-icons {
    margin-left: auto;
}

// index
.minimal_look {
    // media query for small screens
    @include mQ("maxW", 701px) {
        margin-top: 70px;
    }
    // media query for medium screens
    @include mQ("w", 702px,1999px) {
        margin-top: 150px;
    }
    // media query for large screens
    @include mQ("minW", 2000px) {
        margin-top: 300px;
    }
}


.login_register_check_vocab {
    width: 40%;
    
}