@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import "globals";
@import "colors";
@import "mixins";
@import "base";
@import "mediaQ";


// dash styling
.user_id {
    margin-left: auto;
}

.collapsible-header i {
    width: 2rem;
    font-size: 1rem;
    display: inline-block;
    text-align: right;
    margin-right: 0;
}

// ~~~~ DASH ~~~~~~~~~~~~~~~~~~
#new-vocab-count {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p {
        margin: 0px;
    }
}

.btn_small {
    padding-left: 10px; 
    padding-right: 10px; 
    font-size: smaller;
}


// TEST
#api_container_defs, #api_container_syns, #api_container_exams {
    display: none;
}


.vocab-stats {
    display: flex;
    justify-content: space-between;
}

.vocab-like {
        i {
        font-size: 13rem;
    }
}
.check_dictionary {
    margin: 1rem 0px;
    .check_dictionary_btn {
        border-radius: 5px;
    }
}